.loadingCategorieList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem;
  overflow-y: hidden;
  height: 75vh;
  div {
    margin-right: 0.23rem;
  }
  .skeletonItem {
    width: 270px;
    height: 250px;
  }
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 2.5rem;
  p {
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.header {
  padding: 1rem 4rem;
  h1 {
    color: white;
    font-weight: 450;
    font-size: 2.3rem;
  }
}

.listContainer {
  min-height: 65vh;
}

.moviesList {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem;
  align-items: center;
  & > * {
    margin-right: 0.5rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 1350px) {
  .moviesList {
    padding: 0 3rem;
  }
  .header {
    padding: 1rem 3rem;
  }
}

@media (max-width: 600px) {
  .moviesList {
    padding: 0 2rem;
  }
  .header {
    padding: 1rem 2rem;
  }
  .movieItemContainer {
    width: 31% !important;
    margin-bottom: 0.5rem !important;
    min-width: unset !important;
  }
  .movieItem img {
    width: 100% !important;
  }

  .emptyList p {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .moviesList {
    padding: 0 1rem;
  }
  .header {
    padding: 1rem 1rem;
  }
}
@media (max-width: 400px) {
  .movieItemContainer {
    width: 30% !important;
  }
}
