.container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../../../public/LandingPageBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 100%;
}

@media (max-width: 650px) {
  .container {
    height: 70%;
  }
}
